In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('telco.csv')
df.head().T

,0,1,2,3,4
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
gender,Female,Male,Male,Male,Female
is_senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
phone_service,1,2,1,1,1
internet_service,1,1,2,2,2
contract_type,1,0,0,0,0
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
tenure,9.0,9.1,3.8,12.6,3.2
is_female,True,False,False,False,True
has_churned,False,False,True,True,True
has_phone,True,True,True,True,True
has_internet,True,True,True,True,True
has_phone_internet,True,True,True,True,True
partner_dependents,3,0,0,1,1
calculated_monthly_avg,65.6,59.9,73.9,98,83.9
validate,TRUE,TRUE,TRUE,TRUE,TRUE
phone_service_type,One Line,Two or More Lines,One Line,One Line,One Line
Internet_service_type,DSL,DSL,Fiber Optic,Fiber Optic,Fiber Optic
Contract_type,1 Year,Month-to-Month,Month-to-Month,Month-to-Month,Month-to-Month
rounded_tenure,9.0,9.0,4.0,13.0,3.0
Service_type,Internet+Phone,Internet+Phone,Internet+Phone,Internet+Phone,Internet+Phone
Tenure_binned,<1 years,<1 years,<1 years,1-2 years,<1 years

In [3]:
#get shape, 7049 X 27
df.shape

(7049, 27)

In [4]:
df.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,rounded_tenure
count,7049.000000,7049.000000,7049.000000,7049.000000,7049.000000,7038.000000,7049.000000,7049.000000,7049.000000
mean,0.162009,1.324585,1.222585,0.690878,64.747014,2283.043883,32.380068,1.083416,32.374805
std,0.368485,0.642709,0.779068,0.833757,30.099460,2266.521984,24.594926,1.226883,24.596637
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,35.450000,401.587500,8.700000,0.000000,9.000000
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.100000,28.700000,1.000000,29.000000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3793.775000,55.200000,2.000000,55.000000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000,79.300000,3.000000,79.000000

In [5]:
#find null values, since they represent 11/7049 values, comfortable removing them 
df.isna().sum()

customer_id                0
gender                     0
is_senior_citizen          0
partner                    0
dependents                 0
phone_service              0
internet_service           0
contract_type              0
payment_type               0
monthly_charges            0
total_charges             11
churn                      0
tenure                     0
is_female                  0
has_churned                0
has_phone                  0
has_internet               0
has_phone_internet         0
partner_dependents         0
calculated_monthly_avg     0
validate                   0
phone_service_type         0
Internet_service_type      0
Contract_type              0
rounded_tenure             0
Service_type               0
Tenure_binned              0
dtype: int64

In [6]:
#drop nulls
df = df.dropna()
df.shape

(7038, 27)

In [7]:
#Get percentage of customer churn
round(df[df.churn == 'Yes'].shape[0]/df.shape[0] * 100, 2)

26.57

In [8]:
#since we can't recommend canceling MTM, maybe MTM should be excluded from customer churn

#churn_2 = (df[df.churn] == 'Yes') & (df[df.Contract_type] == 'Month-to-Month') doesn't work

#try turning MTM into a boolean value first

df.Contract_type.value_counts() #MTM = 3876

#round(df[df.Contract_type != 'Month-to-Month'].shape[0]/df.shape[0] * 100, 2)

Month-to-Month    3876
2 Year            1687
1 Year            1475
Name: Contract_type, dtype: int64

In [9]:
round(df.Contract_type.value_counts('1 Year', '2 Year') * 100, 2)

Month-to-Month    55.07
2 Year            23.97
1 Year            20.96
Name: Contract_type, dtype: float64

In [10]:
#Some questions to answer: are women or men more likely to churn?

df.value_counts('')

KeyError: ''

In [ ]:
# Is age a factor in churn?

In [ ]:
# Does Electronic check vs. mailed check factor in churn?